@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 247, 247, 248; /* #f7f7f8 */
    --bg-secondary: 220, 220, 224; /* #dcdce0 */
    --bg-tertiary: 193, 193, 200; /* #c1c1c8 */

    --text-default: 37, 25, 46; /* #25192e */
    --text-info: 111, 111, 115; /* ##6f6f73 */
    --text-comment: 57, 78, 86; /* #394e56 */

    --hl-primary: 255, 121, 198; /* #ff79c6 */
    --hl-secondary: 189, 147, 249; /* #bd93f9 */
    --hl-tertiary: 255, 184, 108; /* #FFB86C */
  }

  .dark {
    --bg-primary: 40, 42, 54; /* #282a36 */
    --bg-secondary: 56, 58, 89; /* #383a59 */
    --bg-tertiary: 68, 71, 90; /* #44475a */

    --text-default: 248, 248, 242; /* #F8F8F2 */
    --text-info: 139, 233, 253; /* #8be9fd */
    --text-comment: 98, 114, 164; /* #6272A4 */

    --hl-primary: 255, 121, 198; /* #ff79c6 */
    --hl-secondary: 189, 147, 249; /* #bd93f9 */
    --hl-tertiary: 255, 184, 108; /* #FFB86C */
  }
}
